@font-face {
    font-family: "pruevita" ;
    src: url(Fonts/shloprg.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pruevita2" ;
    src: url(Fonts/Montserrat-Medium.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-image: url(Imagenes/dibujo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}



#mail{
    

    font-family: "pruevita2", Montserrat-Medium;
    font-size: normal;
    margin-top: 2px;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 0;
    margin-left: 155px;
    text-align: left;
    
    
}

#Titulo{
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: 160px;
    text-align: left;
    font-size: 120px;
    color: #fa7c1bff;
    font-family: "pruevita",shloprg;
    
}

#btn2{
border: 0;

font-family: "pruevita2", Montserrat-Medium;
font-size: 10px;
font-weight:bold;
color: white ;

background-color:#fa7c1bff;
border-radius: 600px;
position: relative;
top: 320px;
left: 850px;
}

.btn{
border: 0;
margin-top: 0;
position: relative;
left: 155px;
font-family: "pruevita2", Montserrat-Medium;
font-size: 15px;
font-weight:bold;
color: white ;
padding: 10px;
background-color:#fa7c1bff;
border-radius: 600px;
}

#Texto{
    margin-top: 0;
    margin-left: 160px;
    margin-bottom: 50px;
    font-size: large;
    font-weight:normal;
    font-family: "pruevita2", Montserrat-Medium;
    color: white ;
}















@media(max-width: 768px) {
    body{
    background-image: url(Imagenes/bitmap.png);
    background-position: left;

    
#mail{
    

    font-family: "pruevita2", Montserrat-Medium;
    font-size: normal;
    margin-top: 2px;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 0;
    margin-left: 15px;
    text-align: left;
    
    
}

#Titulo{
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 50px;
    text-align: left;
    font-size: 80px;
    color: #fa7c1bff;
    font-family: "pruevita",shloprg;
    
}

#btn2{
border: 0;

font-family: "pruevita2", Montserrat-Medium;
font-size: 10px;
font-weight:bold;
color: white ;

background-color:#fa7c1bff;
border-radius: 600px;
position: relative;
top: 330px;
right: 100px;
left: 15px;


}

.btn{
border: 0;
margin-top: 0;
position: relative;
left: 15px;
font-family: "pruevita2", Montserrat-Medium;
font-size: 15px;
font-weight:bold;
color: white ;
padding: 10px;
background-color:#fa7c1bff;
border-radius: 600px;
}

#Texto{
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: large;
    font-weight:normal;
    font-family: "pruevita2", Montserrat-Medium;
    color: white ;
}
    }
}