body {
    min-height: 100vh;
    /* ✅ Propiedades que le dan el fondo de imagen y gradiente: */
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.2)),
            url("Recursos/fondo1.jpg"); 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    color: #dea7d1;
}
/* Fondo general y tipografía */

.titulo h2 {
  color: #dea7d1;
  text-align: center;
  margin: 20px 0;
}


/* Contenedor principal: divide en dos columnas */
.registro {
  display: flex;
  justify-content: center;
  gap: 60px; /* espacio entre columnas */
  padding: 40px; /* espacio vertical*/
  flex-wrap: wrap; /* para que se acomode en móvil */
}

/* Cada columna */
.seccion {
  display: flex;
  flex-direction: column;
  gap: 12px; /* separación vertical entre elementos  */
  width: 250px; /* ancho fijo */
}

.fila {
  display: flex;
  flex-direction: row; /* label al lado del input */
  gap: 12px; /* separación entre label e input */
  align-items: center;
}

/* Etiquetas oscurese letra */
.registro label {
  font-weight: bold;
  color: #ffffff;
}
.navbar-nav .nav-link{
    color: #ffffff !important; /* Forzamos el color blanco para anular Bootstrap */
    font-weight: bold;
    /* ... */
}
.navbar-nav .nav-link:hover{
    color: #ccc; /* Color al pasar el ratón (gris claro) */
}

/* Campos de entrada anchura, borde, color,largo*/
input {
  padding: 8px; 
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
label{
    color: #ffffff;
}

.apodo{
  display: inline-block;
  text-align: center;
}

/* Botones inferiores */
.boton {
  text-align: center;
  margin-bottom: 25px;
}


.boton .btn {
  background-color: #dea7d1 !important;
  border: none;
  padding: 10px 20px;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.boton .btn:hover {
  background-color: #ccc;
}

/* 🔹 Adaptación para celular */
@media (max-width: 700px) {
  .registro {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  .seccion {
    width: 90%;
  }

  .fila {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .btn {
    width: 100%;
    margin: 10px 0;
  }
}
